<strong>Team: </strong>
<select id="teampicker" onchange="location.href='/kanban/'+this.options[this.options.selectedIndex].value">
  <% @managers.each do |manager| %>
  <option<%= " selected" if manager==@manager %> value="<%= manager.login %>"><%= manager.name %></option>
  <% end %>
</select>

<table class="list">
  <tr style="border-bottom: 2px solid #c0c0c0;">
    <th>&nbsp;</th>
    <% @statuses.each do |status| %>
    <th>
      <%= status.name %>
      <% if status.is_closed %>
        (Last <%= Setting.plugin_kanban_table[:closed_expire] %> days)
      <% end %>
    </th>
    <% end %>
  </tr>
  <% @team.each do |user| %>
  <tr style="border-bottom: 1px solid #c0c0c0;">
    <th><%= user.name %></th>
    <% @statuses.each do |status| %>
    <td>
      <table width="100%">
      <% issue_list(Issue.all(:conditions => {:assigned_to_id => user.id, :status_id => status.id})) do |issue,level| %>
        <% next if issue.closed? and issue.updated_on < Setting.plugin_kanban_table[:closed_expire].to_i.days.ago %>
        <tr class="<%= cycle('odd', 'even') %> <%= issue.css_classes %>">
          <td width="100%">
            <%= link_to issue.subject, :controller => 'issues', :action => 'show', :id => issue %>
          </td>
        </tr>
      <% end %>
      </table>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
